<div class="game-container" [ngStyle]="backgroundStyle">
  <div
    *ngFor="let dot of dots"
    class="dot"
    [style.left.px]="dot.x"
    [style.top.px]="dot.y"
  ></div>
  <div
    *ngFor="let obstacle of gameService.obstacleService.obstacles"
    class="obstacle"
    [style.left.px]="obstacle.x"
    [style.top.px]="obstacle.y"
    [style.width.px]="obstacle.size"
    [style.height.px]="obstacle.size"
  >
    <img [src]="obstacle.image" [alt]="obstacle.type" />
  </div>

  <div
    *ngIf="gameService.exploded"
    class="explosion"
    [style.left.px]="gameService.explosionX"
    [style.top.px]="gameService.explosionY"
  ></div>
  <button *ngIf="gameService.exploded" (click)="gameService.resetGame()">
    Reset
  </button>

  <div class="ground" *ngIf="showGround"></div>
  <div
    class="player"
    [style.left.%]="gameService.playerX"
    [style.bottom.px]="gameService.rocketVisualPosition"
  >
    <img src="/rocket.png" alt="Rocket Character" />
  </div>
  <div class="score">Score: {{ score }}</div>
  <div class="speed">Speed: {{ rocketSpeedKmh }} km/h</div>
  <div class="stage">Stage: {{ currentStage }}</div>
  <div class="touch-zone left" (touchstart)="gameService.moveLeft()"></div>
  <div class="touch-zone right" (touchstart)="gameService.moveRight()"></div>
</div>
