<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>
        <!-- All other URLs are mapped to the Node.js application entry point -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles%\nodejs\%WEBSITE_NODE_DEFAULT_VERSION%\node.exe&quot;"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      logDirectory="..\..\LogFiles\nodejs"
    />
  </system.webServer>
</configuration>
